/* SASS KEY */

$primary: #42a7b9ff;
$secondary: #2b3a41;
$background: #b4b4b4;
$font: "Montserrat", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $background;
  overflow-x: hidden;
}

.navbar {
  background-color: $secondary;
  height: 300px;
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 3px solid $primary;
  box-shadow: 0 0px 10px 10px #d6d5d533;
  padding: 20px;
  margin-left: -30px;
  margin-top: -10px;
  .sunny {
    margin: 5px auto 5px auto;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    opacity: 0.85;
  }

  #logo {
    color: $primary;
    height: 200px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto 0px auto;
  }

  .s {
    margin-left: 15px;
    font-size: 45px;
    font-family: $font;
  }
  .ajimal {
    margin-left: 10px;
    font-size: 20px;
    font-family: $font;
    letter-spacing: 0.2em;
  }

  .s {
    animation: animated-text 2s steps(30, end) 1s 1 normal both;
  }

  /* text animation */

  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 272px;
    }
  }

  #socials {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    margin: 10px auto 10px auto;
  }
}

//HOVER/CLICK EXPANDING ICONS
#contact {
  transition: 1s;
  &:hover {
    transform: scale(1.3);
  }
}

.fa-github {
  transition: 1s;
  color: $primary;
  &:hover {
    transform: scale(1.3);
    opacity: 0.5;
  }
}
.fa-linkedin-in {
  transition: 1s;
  color: $primary;
  &:hover {
    transform: scale(1.3);
    opacity: 0.5;
  }
}

.fa-envelope {
  transition: 1s;
  color: $primary;
  &:hover {
    transform: scale(1.3);
    opacity: 0.5;
  }
}

#cv {
  transition: 1s;
  &:hover {
    transform: scale(1.2);
  }
}

section.about1 {
  width: 320px;
  height: 425px;
  padding: 10px;
  margin: 30px auto 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title {
  color: $primary;
  font-size: 14px;
  font-family: $font;
  text-align: center;
}

.bodyText {
  line-height: 1.6;
  color: $secondary;
  font-size: 12px;
  font-family: $font;
}

.maincontainer3 {
  margin-top: 500px;
  height: 400px;
}

//SCROLLBAR CHANGE
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #8cbcb9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  color: #8cbcb9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  color: #4f6d7a;
}
//END

.photos {
  height: 51px;
}

//Project section
.projectText {
  text-align: center;
  height: 50px;
  width: 370px;
  margin-left: -20px;
  margin-top: 20px;
  h1.title {
    color: $primary;
  }
}
section.projectList {
  width: 300px;
  height: 2000px;
  margin-left: -5px;
}

.cardList {
  height: 2400px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 45px;
}
.cardOne {
  width: 280px;
  height: 400px;
}

.cardTwo {
  width: 280px;
  height: 400px;
}

.cardThree {
  width: 280px;
  height: 400px;
}

.cardFour {
  width: 280px;
  height: 400px;
}

.cardFive {
  width: 280px;
  height: 400px;
}

.cardSix {
  width: 280px;
  height: 400px;
}

.cardSeven {
  width: 280px;
  height: 400px;
}

.cardEight {
  width: 280px;
  height: 400px;
}

article.card {
  text-align: center;
  width: 280px;
  height: 400px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  h3.title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    color: $primary;
    font-family: $font;
  }

  p {
    text-align: center;
    margin-top: -10px;
    color: $secondary;
    font-size: 13px;
    font-family: $font;
  }
}

.projectShot {
  height: 120px;
  width: 260px;
  margin-right: 10px;
}

.projectInfo {
  text-align: left;
  height: 130px;
  width: 250px;
  margin-bottom: -40px;
  margin-left: 11px;
  margin-top: 40px;
}

.cardIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.iconOne,
.iconTwo {
  margin-top: 30px;
  height: 40px;
  width: 50px;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
    outline: none;
    opacity: 0.5;
  }
}
.fa-globe:before,
.fa-code:before {
  color: $primary;
}

.navbar-menu {
  color: $secondary;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  transform: translateX(-100%);
  transition: 0.4s;
}

.navbar-menu.active {
  transform: translateX(0);
  transition: 0.5s;
}

.navbar-menu .menu-listing {
  padding: 0;
  margin: 0;
  text-align: right;
}

.menu-listing li {
  display: inline-block;
}

.menu-listing li a {
  color: $secondary;
  color: $secondary;
  font-family: $font;
  display: block;
  font-size: 1rem;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
}

.menu-listing li a:hover {
  color: $secondary;
  color: $secondary;
  transition: 0.5s;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  color: $secondary;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: 0.4s;
  z-index: 9999;
}

.menu span {
  position: absolute;
  height: 3px;
  width: 25px;
  color: $secondary;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.menu span:before {
  content: "";
  position: absolute;
  top: -8px;
  color: $secondary;
  height: 3px;
  width: 25px;
  transition: 0.3s;
}

.menu span:after {
  content: "";
  position: absolute;
  top: 8px;
  color: $secondary;
  height: 3px;
  width: 25px;
  transition: 0.3s;
  opacity: 1;
}

.menu.active span:before {
  transform: rotate(45deg);
  top: 0;
}

.menu.active span:after {
  transform: rotate(-45deg);
  top: 0;
}

//BOOTSTRAP NAVBAR MEDIA QUERY FOR MOBILE:
@media only screen and (max-width: 767px) {
  .navbar-menu {
    height: auto;
    z-index: 4;
  }

  .menu-listing li {
    display: block;
  }

  .navbar-menu .menu-listing {
    text-align: center;
  }
}

/* For Larger Mobiles */
@media screen and (min-width: 300px) and (max-width: 700px) {
  /* MEDIA QUERY STARTS HERE */

  .navbar {
    width: 500px;
    height: 350px;
  }

  section.about1 {
    margin-left: 30px;
    width: 400px;
  }

  .projectText {
    width: 400px;
    margin-left: 30px;
    height: 75px;
  }

  section.projectlist {
    height: 2700px;
  }
  .cardList {
    margin-left: 110px;
    height: 2500px;
  }

  article.card {
    text-align: center;
    width: 280px;
    height: 400px;

    transition: transform 1s;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    h3 {
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: 14px;
      color: white;
      font-family: $font;
    }

    p {
      text-align: center;
      margin-top: -10px;
      color: $secondary;
      font-size: 13px;
      font-family: $font;
    }
  }

  .projectShot {
    height: 120px;
    width: 260px;
    margin-right: 10px;
  }

  .projectInfo {
    text-align: left;
    height: 130px;
    width: 250px;
    margin-bottom: -40px;
    margin-left: 11px;
    margin-top: 20px;
  }

  .cardIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .iconOne,
  .iconTwo {
    margin-top: 30px;
    height: 40px;
    width: 50px;
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
      outline: none;
      opacity: 0.5;
    }
  }
  .fa-globe,
  .fa-code {
    color: $secondary;
  }

  /* MEDIA QUERY ENDS HERE */
}

//For Tablets
@media screen and (min-width: 700px) {
  /* MEDIA QUERY STARTS HERE */

  .navbar {
    width: 800px;
  }

  section.about1 {
    margin-left: 175px;
    width: 400px;
  }

  .projectText {
    width: 420px;
    margin-left: 175px;
  }

  .cardList {
    margin-left: 265px;
  }
  /* MEDIA QUERY ENDS HERE */
}

//FOR DESKTOPS
@media screen and (min-width: 900px) {
  /* MEDIA QUERY STARTS HERE */

  .navbar {
    width: 290px;
    position: fixed;
    height: 110%;
    margin-top: -100px;
    border-right: 3px solid $secondary;
    .sunny {
      margin-top: 80px;
      margin-left: 25px;
    }
    #socials {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 300px;
      width: 200px;
      margin: 150px 10px 10px auto;
    }
    div#logo {
      color: $primary;
      height: 200px;
      width: 10px;
      margin: 50px auto auto 65px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .s {
        margin-left: -65px;
        font-size: 60px;
        font-family: $font;
        white-space: nowrap;
        overflow: hidden;
      }
      .ajimal {
        margin-right: 35px;
        font-size: 25px;
        font-family: $font;
        letter-spacing: 0.2em;
      }
    }

    .s {
      animation: animated-text 2s steps(30, end) 1s 1 normal both;
    }

    /* text animation */

    @keyframes animated-text {
      from {
        width: 0;
      }
      to {
        width: 272px;
      }
    }
  }

  section.about1 {
    margin-bottom: 200px;
    color: #b4b4b4;
    width: 925px;
    height: 475px;
    padding: 10px;
    margin-left: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 60px;
  }

  .scrollDown {
    margin-top: 85px;
    margin-left: 460px;
    height: 60px;
    width: 25px;
    color: $secondary;
  }

  .container {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: -20px;
  }

  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }

  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }

  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }

  .chevron:before,
  .chevron:after {
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    color: $primary;
  }

  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }

  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }

  @keyframes move {
    25% {
      opacity: 1;
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }

  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: $secondary;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 0.25;
    animation: pulse 2s linear alternate infinite;
  }

  @keyframes pulse {
    to {
      opacity: 1;
    }
  }

  .title {
    font-size: 18px;
    text-align: center;
  }

  .bodyText {
    font-size: 16px;
    line-height: 1.6;
  }

  div#projects {
    margin-left: 350px;
    height: 1000px;
  }

  .cardOne {
    grid-area: c1;
    width: 280px;
    height: 400px;
  }

  .cardTwo {
    grid-area: c2;
    width: 280px;
    height: 400px;
  }

  .cardThree {
    grid-area: c3;
    width: 280px;
    height: 400px;
  }

  .cardFour {
    grid-area: c4;
    width: 280px;
    height: 400px;
  }

  .cardFive {
    grid-area: c5;
    width: 280px;
    height: 400px;
  }

  .cardSix {
    grid-area: c6;
    width: 280px;
    height: 400px;
  }

  .cardSeven {
    grid-area: c7;
    width: 280px;
    height: 400px;
  }

  .cardEight {
    grid-area: c8;
    width: 280px;
    height: 400px;
  }

  main.cardlist {
    margin-left: -90px;
    display: grid;
    height: 800px;
    grid-template-areas:
      "c1 c2 c3"
      "c4 c5 c6"
      "c7 . c8";
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    padding: 50px;
    margin-bottom: 30px;
    margin-top: -20px;
  }

  //Project section
  .projectText {
    text-align: center;
    height: 50px;
    width: 920px;
    margin-left: -50px;
    margin-top: -125px;
  }

  article.card p {
    text-align: center;
    margin-top: -10px;
    font-size: 13px;
  }

  section.projectList {
    width: 325px;
    margin-left: -15px;
    height: 1000px;
  }

  .cardList {
    height: 2000px;
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projectInfo {
    text-align: left;
    height: 130px;
    width: 250px;
    margin-bottom: -40px;
    margin-left: 11px;
    margin-top: 20px;
  }

  .card:hover {
    transition: 0.5s;
    box-shadow: 0 10px 20px 0 #ffffff40, 0 10px 20px 0 #ffffff40;
    transform: scale(1.1);
  }

  /* MEDIA QUERY ENDS HERE */
}

@media screen and (min-width: 1400px) {
  /* MEDIA QUERY STARTS HERE */
  div.projecttext {
    text-align: left;
    height: 130px;
    width: 900px;
    margin-bottom: -90px;
    margin-top: -50px;
  }

  main.cardlist {
    margin-left: -20px;
    width: 300px;
    display: grid;
    width: 400px;
    height: 800px;
    grid-template-areas:
      "c1 c2 c3"
      "c4 c5 c6"
      "c7 . c8";
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    padding: 50px;
    margin-bottom: 30px;
    margin-top: -20px;
  }

  /* MEDIA QUERY ENDS HERE */
}

//COMMENT END FOR MEDIA QUERIES
